<template>
  <div class="flex flex-row justify-center content-center">
    <div v-if="success">
      <div class="flex flex-row justify-center content-center">
        <div class="flex flex-col justify-center content-center">
          <img
            src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairTheCaesar&accessoriesType=Prescription02&hairColor=Blonde&facialHairType=BeardMedium&facialHairColor=Black&clotheType=BlazerSweater&clotheColor=Gray01&eyeType=Default&eyebrowType=UnibrowNatural&mouthType=Twinkle&skinColor=Tanned"
          />
        </div>
        <div class="flex flex-col justify-center content-center">
          <div class="flex flex-row justify-center content-center">
            <label for="email">E-mail: </label>
            <p>{{ user.email }}</p>
          </div>
          <div class="flex flex-row justify-center content-center">
            <label for="email">Username: </label>
            <p>{{ user.username }}</p>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <p>{{ errorMsg }}</p>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData(context) {
    if (!context.store.state.token) context.redirect('/sign-up');
    context.$axios.setToken(context.store.state.token, 'Bearer');
    try {
      const errorMsg = '';
      const user = await context.$axios.$get(`/600/users/${context.params.id}`);
      const success = true;
      return { user, success, errorMsg };
    } catch (error) {
      const success = false;
      let errorMsg = '';
      if (error.response.status === 403) {
        errorMsg = 'Your token does not match the requested id. Try again.';
      } else if (error.response.status === 401) {
        errorMsg = 'The requested id does not exist. Try again.';
      }
      const user = { email: '', password: '' };
      return { user, success, errorMsg };
    }
  },
};
</script>

<style>
label {
  text-align: center;
  padding: 20px;
}

button {
  padding: 20px;
}

input {
  margin: 15px;
}
</style>
