<template>
  <div class="flex justify-center content-center flex-col items-center justify-items-center">
    <div class="flex justify-center content-center flex-row ...">
      <label for="email">E-mail: </label>
      <input
        id="email"
        v-model="email"
        name="email"
        :class="isDirtyEmail"
        @input="validateEmail"
      />
    </div>
    <div class="flex justify-center content-center flex-row ...">
      <p v-if="malformedEmail">
        The e-mail is mandatory and it must be in the format 'name@domain.com'
      </p>
      <p v-if="alreadyExisting">This e-mail is already in use.</p>
    </div>
    <div class="flex justify-center content-center flex-row ...">
      <label for="password">Password: </label>
      <input
        id="password"
        v-model="password"
        name="password"
        type="password"
        :class="isDirtyPassword"
        @input="validatePassword"
      />
    </div>
    <div class="flex justify-center content-center flex-row ...">
      <p v-if="malformedPassword">
        The password must be from 8 to 32 characters long.
      </p>
    </div>
    <div class="flex justify-center content-center flex-row ...">
      <label for="username">Username: </label>
      <input
        id="username"
        v-model="username"
        name="username"
        :class="isDirtyUsername"
        @input="validateUsername"
      />
    </div>
    <div class="flex justify-center content-center flex-row ...">
      <p v-if="malformedUsername">
        The username is mandatory and it can not start with numbers.
      </p>
    </div>
    <div class="flex flex-row justify-center">
      <button
        class="btn btn-green"
        @click="clearFields"
      >
        Clear
      </button>
      <button
        class="btn btn-green"
        @click="submit"
      >
        Sign-up
      </button>
    </div>
    <div class="flex justify-center content-center flex-row ...">
      <p>Already an user? <NuxtLink to="/sign-in">Sign-in now!</NuxtLink></p>
    </div>
  </div>
</template>

<script>
import jwt from 'jsonwebtoken';

export default {
  data() {
    return {
      email: '',
      password: '',
      username: '',
      malformedEmail: false,
      alreadyExisting: false,
      malformedPassword: false,
      malformedUsername: false,
      isDirtyEmail: '',
      isDirtyPassword: '',
      isDirtyUsername: '',
    };
  },
  methods: {
    validateEmail() {
      const re = /^(([^<>()[\]\\.,;:\s@']+(\.[^<>()[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const isValid = re.test(String(this.email).toLowerCase());
      if (isValid) {
        this.malformedEmail = false;
        this.alreadyExisting = false;
        this.$store.commit('setEmail', this.email);
        this.isDirtyEmail = '';
      } else {
        this.isDirtyEmail = 'dirty';
        this.malformedEmail = true;
      }
    },
    validatePassword() {
      if (this.password.length >= 8 && this.password.length <= 32) {
        this.$store.commit('setPassword', this.password);
        this.isDirtyPassword = '';
        this.malformedPassword = false;
      } else {
        this.isDirtyPassword = 'dirty';
        this.malformedPassword = true;
      }
    },
    validateUsername() {
      if (this.username.length > 0) {
        if (/^\d+$/.test(this.username.charAt(0))) {
          this.isDirtyUsername = 'dirty';
          this.malformedUsername = true;
        } else {
          this.$store.commit('setUsername', this.username);
          this.isDirtyUsername = '';
          this.malformedUsername = false;
        }
      } else {
        this.malformedUsername = true;
        this.isDirtyUsername = 'dirty';
      }
    },
    clearFields() {
      this.email = '';
      this.password = '';
      this.username = '';
    },
    submit() {
      if (
        !this.malformedEmail
        && !this.malformedPassword
        && !this.malformedUsername
        && !this.alreadyExisting
      ) {
        this.$axios
          .$post('/register', {
            email: this.$store.state.email,
            password: this.$store.state.password,
            username: this.$store.state.username,
          })
          .then((response) => {
            this.$store.commit('setToken', response.accessToken);
            const id = jwt.decode(response.accessToken);
            this.$router.push(`users/${id.sub}`);
          })
          .catch((code) => {
            if (code.response.status === 400) {
              this.isDirtyEmail = 'dirty';
              this.alreadyExisting = true;
            }
          });
      }
    },
  },
};
</script>

<style>
label {
  text-align: center;
  padding: 20px;
}

p {
  padding: 20px;
}

input {
  margin: 15px;
}

.dirty {
  border: 2px solid red;
  outline-color: red;
}
</style>
