<template>
  <div class="flex justify-center content-center flex-col ...">
    <div class="flex justify-center content-center flex-row ...">
      <label for="email">E-mail: </label>
      <input
        id="email"
        v-model="email"
        name="email"
        :class="isDirtyEmail"
        @input="validateEmail"
      />
    </div>
    <div class="flex justify-center content-center flex-row ...">
      <p v-if="malformedEmail">
        The e-mail is mandatory and it must be in the format 'name@domain.com'
      </p>
    </div>
    <div class="flex justify-center content-center flex-row ...">
      <label for="password">Password: </label>
      <input
        id="password"
        v-model="password"
        name="password"
        type="password"
        :class="isDirtyPassword"
        @input="validatePassword"
      />
    </div>
    <div class="flex justify-center content-center flex-row ...">
      <p v-if="malformedPassword">
        The password must be from 8 to 32 characters long.
      </p>
      <p v-if="invalidCredentials">Invalid credentials.</p>
    </div>
    <div class="flex justify-center content-center flex-row ...">
      <button
        class="btn btn-green"
        @click="clearFields"
      >
        Clear
      </button>
      <button
        class="btn btn-green"
        @click="submit"
      >
        Sign-in
      </button>
    </div>
    <div class="flex justify-center content-center flex-row ...">
      <p>Not an user yet? <NuxtLink to="/sign-up">Sign-up now!</NuxtLink></p>
    </div>
  </div>
</template>

<script>
import jwt from 'jsonwebtoken';

export default {
  data() {
    return {
      email: '',
      password: '',
      malformedEmail: false,
      alreadyExisting: false,
      malformedPassword: false,
      invalidCredentials: false,
      isDirtyEmail: '',
      isDirtyPassword: '',
    };
  },
  methods: {
    validateEmail() {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const isValid = re.test(String(this.email).toLowerCase());
      if (isValid) {
        this.malformedEmail = false;
        this.alreadyExisting = false;
        this.$store.commit('setEmail', this.email);
        this.isDirtyEmail = '';
        this.invalidCredentials = false;
      } else {
        this.isDirtyEmail = 'dirty';
        this.malformedEmail = true;
      }
    },
    validatePassword() {
      if (this.password.length >= 8 && this.password.length <= 32) {
        this.$store.commit('setPassword', this.password);
        this.isDirtyPassword = '';
        this.malformedPassword = false;
        this.invalidCredentials = false;
      } else {
        this.isDirtyPassword = 'dirty';
        this.malformedPassword = true;
      }
    },
    clearFields() {
      this.email = '';
      this.password = '';
    },
    submit() {
      if (!this.malformedEmail
        && !this.malformedPassword
        && !this.invalidCredentials
      ) {
        this.$axios
          .$post('/login', {
            email: this.$store.state.email,
            password: this.$store.state.password,
          })
          .then((response) => {
            this.$store.commit('setToken', response.accessToken);
            const id = jwt.decode(response.accessToken);
            this.$router.push(`users/${id.sub}`);
          })
          .catch((code) => {
            if (code.response.status === 400) {
              this.isDirtyEmail = 'dirty';
              this.isDirtyPassword = 'dirty';
              this.invalidCredentials = true;
            }
          });
      }
    },
  },
};
</script>

<style>
.btn {
  @apply m-4  py-2 px-4 font-semibold rounded-lg shadow-md;
}
.btn-green {
  @apply text-white bg-green-500 hover:bg-green-700;
}

label {
  text-align: center;
  padding: 20px;
}

input {
  margin: 15px;
}

.dirty {
  border: 2px solid red;
  outline-color: red;
}
</style>
